@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SSL TEST</h1>    
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <input type="text" id="search" name="search" value="https://aspiria-sac-dev.azurewebsites.net/" placeholder="" style="width: 100%; height: 40px;" />
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" onclick="test();" style="width:100%;height:40px;">Analizar</button>
        </div>
    </div>

    <pre id="code" class="prettyprint linenums" style="color:darkgray">
        
    </pre>
</div>

<script>
    function test() {
        loader(true);
        var url = document.getElementById('search').value;
            fetch('/Home/Test?url=' + url)            
                .then(response => response.json())
                .then(data => {
                    loader(false);
                    document.getElementById('code').textContent = data;
                    //console.log(data)
                })
                .catch(err => console.log(err));

        

    }
</script>


